<!DOCTYPE html>
<html>
<head>
	<title>Depot</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<div id="banner">
		<%= form_tag store_path, class: 'locale' do %>
			<%= select_tag 'set_locale',
			options_for_select(LANGUAGES, I18n.locale.to_s),
			onchange: 'this.form.submit()' %>
			<%= submit_tag 'submit' %>
			<%= javascript_tag "$('.locale input').hide()" %>
		<% end %>
        <%= image_tag("logo.png") %>
		<%= @page_title || "Pragmatic Bookshelf" %>
	</div>
	<div id="columns">
		

		<div id="side">
			<ul>
				<li><a href="/"><%= t('Store')%></a></li>
		
				<% unless session[:user_id] %>
				    <li><%= link_to t("Register"), new_user_path %></li>
				    <li><a href="/login"><%= t("LogIn") %></a></li>
			    <% end %>
                
				
			</ul>
            <% if session[:user_id] %>
                <ul>
					<li><%= link_to t('Orders'), orders_path%></li>
					<li><%= link_to t('Products'), products_path %></li>
					<li><%= link_to t('Users'), users_path %></li>
				</ul>
					<%= button_to t('LogOut'), logout_path, method: :delete %>
			<% end %>

		        <p class="logged"> <%= @username %> </p>
		
			<% if @cart %>
			<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
			     <%= render @cart %>
			<% end %>
			<% end %>
		</div>
		<div id="main">
			<%= yield %>
		</div>
		<div id="footer">
            <%= yield :footer %>
		</div>
	</div>
</body>
</html>
